@font-face {
    font-family: "BungeeTint-Regular";
    src: url("font/BungeeTint-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("font/Owsald/Oswald-VariableFont_wght.ttf");
}

.external {
    color: coral;
    font-size: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#id {
    color: crimson;
    font-style: italic;
}

.class {
    font-size: 50px;
    color: blueviolet;
    /* font-style: italic; */
    font-family: "BungeeTint-Regular";
    font-family: "Oswald";
}



@media (max-width: 600px) {
    .textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        padding: 20px;
        border: 10px solid #3acc72;
        border-radius: 5px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .text {
        margin: 10px;
    }
}

.info-sub {
    display: block;
    
}


@media (min-width: 600px) {
    .textbox {
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        padding: 20px;
        border: 10px solid #ff0000;
        border-radius: 5px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .text {
        margin: 1px;
    }
}

/* .animate__animated.animate__lightSpeedInRight.home {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
} */

.home {
    text-align: center;
    margin-top: 50px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
}  
.lttb{
    text-align: center;
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-color: #4c82af;
    padding: 10px 20px;
    border-radius: 5px;
}

@-webkit-keyframes lightSpeedInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0) skewX(30deg);
        transform: translate3d(-100%,0,0) skewX(30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg)
    }

    to {
        transform: revert-layer;
    }
}